<% layout("layouts/boilerplate")%>
<div class="row offset-2">
<div class="col-8">
    <form method="POST" action="/listings/<%=id%>?_method=PATCH" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" placeholder="enter title" name="title" value="<%=listing.title%>" required>
            <div class="invalid-feedback">Enter a valid title</div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea placeholder="enter description" name="description" class="form-control" required></textarea>
            <div class="invalid-feedback">Enter a valid description</div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" placeholder="location" name="location" class="form-control" value="<%=listing.location%>" required>
            <div class="invalid-feedback">Enter a valid location</div>
        </div>

        <div class="row">
            <div class="mb-3 col-4">
                <label for="price" class="form-label">Price</label>
                <input type="number" placeholder="price" name="price" class="form-control" value="<%=listing.price%>" required>
                <div class="invalid-feedback">Enter a valid price</div>
            </div>

            <div class="mb-3 col-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" placeholder="country" name="country" value="<%=listing.country%>" class="form-control" required>
                <div class="invalid-feedback">Enter a valid country</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="img" class="form-label">Image</label>
            <input type="text"  name="img" value="<%=listing.image%>" class="form-control">
        </div>
        <button class="btn btn-dark">Submit</button>
        <br><br>
    </form>
    </div>
</div>

