<% layout("layouts/boilerplate")%>
<body>
    <ul>
           <li>Owner:<%= cards.owner.username %></li>
           <li><%=cards.title%></li>
           <li><%=cards.description%></li>
           <li><%=cards.location%></li>
           <li>&#8377;<%=cards.price.toLocaleString("en-IN")%></li>
    </ul>
    <% if(currUser && currUser._id.equals(cards.owner._id)) {%>
    <div class="button-div">
    <a href="http://localhost:3000/listings/<%=cards._id%>/edit"><button class="btn btn-primary" style="margin: 10px;">Edit</button></a>
    <form method="POST" action="http://localhost:3000/listings/<%=cards._id%>?_method=DELETE">
        <button class="del btn btn-danger" style="margin: 10px;">Delete</button>
    </form>
    </div>
    <% } %>

    <div class="col-8 offset-3">
        <% if(currUser) {%>
        <h4>Leave a review</h4>
        <form method="post" action="http://localhost:3000/listings/<%=cards._id%>/review" novalidate class="needs-validation">
            <div>
           <label for="rating">Rating</label>
           <input type="range" min="1" max="5" id="rating" name="rating">
           </div>
           <!-- <fieldset class="starability-slot">
            <legend>First rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset> -->
           <div>
            <label for="comment" class="form-label">Comment</label>
            <textarea name="comment" id="comment" class="form-control"></textarea>
            <div class="invalid-feedback">
                Please Submit Valid Review!
            </div>
        </div>
        <button class="btn btn-danger">Submit</button>
        </form>
        <% } %>
    </div>
    <h4>Reviews</h4>
    <div class="row">
    <% for(review of cards.reviews) {%>
        <div class="card col-5 ms-3 mb-3">
              <div class="card-body">
                <h5 class="card-title"><%=review.author.username%></h5>
                <p class="card-text"><%=review.comment%></p>
                <p class="starability-result card-text" data-rating="<%=review.rating%>">Rated: 3 stars</p>
            </div>
            <form method="post" action="/listings/<%=cards._id%>/reviews/<%=review._id%>?_method=DELETE">
                <button class="sm btn btn-sm btn-dark">Delete</button>
            </form>
        </div>
        <% } %>
    </div>
</body>
